@charset "UTF-8";

/* settings */
@import 'settings/border-radius.pcss';
@import 'settings/color.pcss';
@import 'settings/spacer.pcss';

/* generic */
@import 'generic/base.pcss';

/* elements */
@import 'elements/svg.pcss';

/* components */
@import 'components/header.pcss';
@import 'components/main.pcss';
@import 'components/card.pcss';
@import 'components/footer.pcss';
@import 'components/menu.pcss';

