.card {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 5px;
}

.card__content {
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  padding: 20px;
  margin: 0;
  width: calc(100% - 100px);
}